.sorting-button {
  width: 36px;
  height: 36px;

  color: white;
  line-height: 36px;

  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
