<mat-expansion-panel hideToggle [(expanded)]="isSortingPanelOpen">
  <div class="sorting-block centralizer">
    <span class="sorting-title">Sorting by:</span>

    <ul class="sorting-criteria-list none-style">
      <li class="sorting-criteria-item">
        <a class="sorting-criteria-link" href="#">date</a>
      </li>
      <li class="sorting-criteria-item">
        <a class="sorting-criteria-link" href="#">count of views</a>
      </li>
    </ul>

    <form class="sorting-form" name="sorting-form" >
      <label class="sorting-form-input-label">
        <span class="sorting-form-input-label-title">by word or sentence</span>
        <input class="sorting-form-input" type="text" name="sorting-sentence" [(ngModel)]="sortingRequest">
        <button class="clear-button" mat-button aria-label="Clear" *ngIf="sortingRequest" type="button" (click)="sortingRequest=''">
          <mat-icon>clear</mat-icon>
        </button>
      </label>
    </form>
  </div>
</mat-expansion-panel>
