@import './src/scss/mixins.scss';

.login-block {
  @include flex-centered;
}

.user-name {
  margin-right: 10px;
}

.user-avatar {
  width: 36px;
  height: 36px;

  border-radius: 10px;
  background-color: white;
}
