<span class="user-login">
  {{ loggedUserLogin | slice: 0: 10 | titlecase }}
</span>
<img class="user-avatar shadow" src="../../../assets/images/avatar-default.png">
<button
    class="button shadow form-button button-logout main-bg-color"
    type="button"
    aria-label="Logout"
    mat-button
    appHighlightButton
    (click)="logOut()"
    *ngIf="isUserLogged; else logInButton"
  >
    Logout
</button>

<ng-template #logInButton>
  <button
      class="button shadow form-button button-login main-bg-color"
      type="button"
      aria-label="Login"
      mat-button
      appHighlightButton
      (click)="logIn()"
      [disabled]="!isCredentialsValid"
    >
      Login
  </button>
</ng-template>
