.wrapper {
  background-color: cadetblue;
}

.upper-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  background-color: lightgray;

  * {
   margin: 10px;
  }
}

app-login {
  position: absolute;
  right: 150px;
}
