@import './src/scss/mixins.scss';

.search-card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  width: 264px;
  height: 327px;
  padding: 20px;

  border-radius: 5px;
  border-bottom: 5px solid #f2c94c;

  background-color: #e5e5e5;
  box-shadow: 2px 2px 4px #00000040;

  overflow: hidden;
}

.search-card__poster {
  width: 223px;
  height: 123px;
  margin-bottom: 20px;
}

.search-card__button_more {
  position: absolute;
  bottom: 10px;

  width: 120px;
  height: 32px;

  color: #ffffff;
}

.search-card__title {
  max-height: 69px;

  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: right;
  text-overflow: ellipsis;

  overflow: hidden;
}
