<form 
  class="login-form" 
  name="login-form"
  [formGroup]="loginForm"
  (ngSubmit)="loginFormSubmit()"
>
  <fieldset class="login-fieldset">
    <legend class="login-form-legend">Login</legend>

    <label class="form-input-label login-form-input-label">
      <span class="label-description">Login</span>
      <input
        class="form-input login-form-input"
        type="text"
        name="login-form-input"
        placeholder="Enter your login, please"
        formControlName="login"
        autocomplete="off"
        required
      >
      <button
        class="form-clear-button login-form-clear-button"
        type="button"
        aria-label="Clear login"
        mat-button
        *ngIf="loginForm.controls.login.value"
        (click)="loginForm.controls.login.setValue('')"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </label>

    <label class="form-input-label login-form-input-label">
      <span class="label-description">Password</span>
      <input
        class="form-input login-form-input"
        type="password"
        name="password-form-input"
        placeholder="Enter password, please"
        formControlName="password"
        autocomplete="off"
        required
      >
      <button
        class="form-clear-button login-form-clear-button"
        type="button"
        aria-label="Clear password"
        mat-button
        *ngIf="loginForm.controls.password.value"
        (click)="loginForm.controls.password.setValue('')"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </label>
  </fieldset>

  <div class="form-container">
    <button
      class="button shadow form-button login-form-button main-bg-color"
      type="submit"
      aria-label="Login"
      mat-button
      appHighlightButton
      [disabled]="loginForm.invalid"
    >
      Login
    </button>
    <button
      class="button shadow form-button login-form-button main-bg-color"
      type="button"
      aria-label="Logout"
      mat-button
      [disabled]="!isUserLogged"
      appHighlightButton
      (click)="logOut()"
    >
      Logout
    </button>
  </div>
</form>
