<form class="login-form" name="login-form" (submit)="loginFormSubmit()">
  <fieldset class="login-fieldset">
    <legend class="login-form-legend">Login</legend>

    <label class="form-input-label login-form-input-label">
      <span class="label-description">Login</span>
      <input
        class="form-input login-form-input"
        type="text"
        name="login-form-input"
        placeholder="Enter your login, please"
        [(ngModel)]="credentials.login"
      >
      <button
        class="form-clear-button login-form-clear-button"
        type="button"
        aria-label="Clear login"
        mat-button
        *ngIf="credentials.login"
        (click)="credentials.login=''"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </label>

    <label class="form-input-label login-form-input-label">
      <span class="label-description">Password</span>
      <input
        class="form-input login-form-input"
        type="password"
        name="password-form-input"
        placeholder="Enter password, please"
        [(ngModel)]="credentials.password"
      >
      <button
        class="form-clear-button login-form-clear-button"
        type="button"
        aria-label="Clear password"
        mat-button
        *ngIf="credentials.password"
        (click)="credentials.password=''"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </label>
  </fieldset>

  <div class="form-container">
    <button
      class="button shadow form-button login-form-button main-bg-color"
      type="submit"
      aria-label="Login"
      mat-button
      appHighlightButton
    >
      Login
    </button>
    <button
      class="button shadow form-button login-form-button main-bg-color"
      type="button"
      aria-label="Logout"
      mat-button
      appHighlightButton
      (click)="logOut()"
    >
      Logout
    </button>
  </div>
</form>
