@import './src/scss/mixins.scss';

:host {
  width: 100%;
}

.search-card__statistics_list {
  @include flex-evenly;
}

.search-card__statistics_item {
  display: flex;
  align-items: center;
}

.statistics__icon {
  font-size: 0;
}

.statistics__count {
  margin-left: 3px;

  font-size: 10px;
}
