/* You can add global styles to this file, and also import other style files */
@import './scss/normalize.scss';

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

html, body {
  height: 100%;
}

body {
  margin: 0;

  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #4F4F4F;
}

.main-bg-color {
  background-color: #2F80ED;
}

.shadow {
  box-shadow: 2px 0px 4px 0px #2F80ED;
}
