// ***use for import:*** @import './src/scss/mixins.scss';

@mixin flex {
  display: flex;
  justify-content: center;
}

@mixin flex-centered {
  @include flex;
  align-items: center;
}

@mixin flex-evenly {
  display: flex;
  justify-content: space-evenly;
}

@mixin flex-around {
  display: flex;
  justify-content: space-around;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-column {
  @include flex;
  flex-direction: column;
}

@mixin flex-column-centered {
  @include flex-centered;
  flex-direction: column;
}
