$main-bg-color: #2F80ED;

$btn-box-shadow: 2px 0px 4px 0px $main-bg-color;
$hovered-btn-box-shadow:  2px 0px 4px 0px #ffffff;

$main-font: Roboto, "Helvetica Neue", sans-serif;
$main-font-color: #4F4F4F;
